# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: Jyniemit <jyniemit@student.hive.fi>        +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/09/12 09:19:23 by Jyniemit          #+#    #+#              #
#    Updated: 2024/09/12 09:20:20 by Jyniemit         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #
a.out
*testmain.c
